{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}
		{% endblock title %}
	</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-grid.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/glyphicons.css" %}">
	<script src="{% static "js/fontawesome.js" %}"></script>
</head>
<body>
	{% block body %}
	{% endblock body %}
	<script type="text/javascript" href="{% static "js/jquery.js" %}"></script>
	<script type="text/javascript" href="{% static "js/popper.js" %}"></script>

</body>
</html>